.no-button-style {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: auto;
  outline: inherit;
  user-select: text;
  text-align: left;
}

.code-root {
  margin-left: 10px;
  margin-right: 10px;
}

.code {
  white-space: pre;
  font-family: "Courier New", Courier, monospace;
}

.line {
  min-height: 2em;
}

.code-span {
  display: inline-block;
}

.elided {
  border: 1px solid rgb(201, 201, 201);
}

.code-root:focus-within .caret {
  width: 2px;
  margin: 0 -1px -0.2em -1px;
  height: 1.2em;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: green;
  }
}

.node-padding {
  padding: 4px 0 4px 0;
}

.in-construction {
  background-color: hsl(48, 100%, 85%);
  min-width: 0.6em;
}

.card-header-vertical-padding {
  padding: 0.75rem 0;
}

.card-content:not(:last-child) {
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
}

span {
  font-weight: initial;
  font-style: initial;
}

ul {
  margin-top: 0;
}
